<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntdUI" version="2.3.0" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net462" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net462" />
  <package id="DnsClient" version="1.7.0" targetFramework="net462" requireReinstallation="true" />
  <package id="DynamicData" version="9.1.2" targetFramework="net462" />
  <package id="ini-parser" version="2.5.2" targetFramework="net462" />
  <package id="Masuit.Tools.Net45" version="2025.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.2" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="NLog" version="5.3.4" targetFramework="net48" />
  <package id="Pharmacist.Common" version="2.0.8" targetFramework="net462" requireReinstallation="true" />
  <package id="ReactiveUI" version="20.2.45" targetFramework="net462" requireReinstallation="true" />
  <package id="ReactiveUI.Events.Winforms" version="15.1.1" targetFramework="net462" requireReinstallation="true" />
  <package id="ReactiveUI.WinForms" version="20.2.45" targetFramework="net462" requireReinstallation="true" />
  <package id="Splat" version="15.3.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net462" />
  <package id="System.IO.Pipelines" version="9.0.2" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reactive" version="6.0.1" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="9.0.2" targetFramework="net462" />
  <package id="System.Text.Json" version="9.0.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" requireReinstallation="true" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net48" />
</packages>
